{% import '_builder/classes' as classes %}

<section {{ attr({
    class: [
        classes.paddingTop(block.paddingTop.value),
        classes.paddingBottom(block.paddingBottom.value),
        classes.backgroundColor(block.backgroundColor.value ?? 'none'),
        classes.textAlignment(block.textAlignment.value ?? 'left')
    ]|join(' '),
}) }}>
    {% block content %}
        <p>Default Section Content</p>
    {% endblock %}
</section>
