{% extends '_layouts/master' %}

{% import '_includes/builder/classes' as classes %}

{% block content %}
    <article>
        {# <header class="{{ classes.maxWidth('contain') }}">
            {% include '_includes/components/breadcrumb' %}
            {% include '_includes/components/heading' with {
                level: 'h1',
                heading: entry.title,
            } %}
            <div class="mt-2 text-sm">
                Posted: {% include '_includes/components/date' with { date: entry.postDate } %}
            </div>
        </header> #}
        {% include '_includes/builder/builder' with {
            context: 'page',
            blocks: entry.contentBlocks.all(),
        } only %}
    </article>
{% endblock %}

