{% extends '_layouts/master' %}

{% import '_includes/builder/classes' as classes %}

{% paginate craft.entries.section(entry.entryType.value).orderBy('postDate DESC').limit(12) as pageInfo, entries %}

{% block content %}
    <article class="{{ classes.maxWidth('contain') }}">
        <header>
            {% include '_includes/components/heading' with {
                level: 'h1',
                heading: entry.title,
            } %}
        </header>

        <section class="my-12">
            {% if entries|length %}
                <div class="grid grid-cols-3 gap-12">
                    {% for entry in entries %}
                        <a href="{{ entry.url }}" class="flex flex-col justify-between h-96 p-12 bg-gray-100">
                            <div class="text-sm text-gray-500">
                                Create a template in <code class="text-xs">_includes/builder/blocks/cards/{{ entry.type|kebab }}</code> to output this entry.
                            </div>
                            <div class="mt-24 text-xl font-bold">{{ entry.title }}</div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>There are no entries to display.</p>
            {% endif %}

            {% if pageInfo.totalPages > 1 %}
                <div class="mt-12">
                    {% include '_includes/components/pagination' with { pageInfo: pageInfo } only %}
                </div>
            {% endif %}
        </section>
    </article>
{% endblock %}

