<a href="{{ entry.url }}" class="block">
    <div class="{{ aspectRatio }} bg-gray-100"></div>
    <div class="mt-6">
        <div role="note" class="uppercase text-xs tracking-widest font-mono">{{ entry.type }}</div>
        {% include '_includes/components/heading' with {
            heading: entry.title,
            level: 'h2',
            attributes: {
                class: 'mt-2 text-2xl font-bold',
            }
        } %}
    </div>
</a>
