{% extends '_layouts/base' %}

{% block body %}
    <main id="main-content" class="leading-normal flex justify-center items-center text-center p-6 w-screen h-screen">
        {% block error %}
            {% include '_components/error' with {
                heading: 'Whoops'|t,
                body: 'Sorry, but it looks like something has gone wrong.'|t,
            } only %}
        {% endblock %}
    </main>
{% endblock %}
