{% extends '_layouts/base' %}

{% block body %}
    {% include '_components/layout/header' %}
    <main id="main-content">
        {% block content '' %}
    </main>
    {% include '_components/layout/footer' %}
{% endblock %}
