{% extends '_layouts/base' %}

{% block resourceHints %}
    {{ parent() }}
    {# Example: Add preconnect hints for common external domains
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://www.youtube.com">
    <link rel="preconnect" href="https://player.vimeo.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    #}
{% endblock %}

{% block body %}
    {% include '_partials/header' %}
    <main id="main-content">
        {% block content '' %}
    </main>
    {% include '_partials/footer' %}
{% endblock %}
