{% extends '_layouts/base' %}

{% block body %}
    <div id="main-content">
        {% include '_components/layout/header' %}
        {% block content '' %}
        {% include '_components/layout/footer' %}
    </div>
{% endblock %}
