@import "tailwindcss";

@source "../../templates/**/*";

@theme {
    --color-social-facebook: #0866ff;
    --color-social-x: #000000;
    --color-social-instagram: #ff0069;
    --color-social-linkedin: #0a66c2;
    --color-social-youtube: #ff0000;
    --color-social-vimeo: #1ab7ea;
    --color-social-pinterest: #bd081c;
    --color-social-tiktok: #000;
}

.body-copy {
    > * + * {
        margin-top: --spacing(4);
    }

    ul { list-style: disc }
    ol { list-style: decimal }
    p > a { text-decoration: underline; text-underline-offset: 4px; }
    strong { font-weight: 500; }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
