{% extends '_layouts/master' %}

{% block content %}
    <div>
        <p>{{ 'You have successfully started a new Craft CMS project!'|t }}</p>
        <a href="{{ siteUrl('admin') }}">{{ 'Log in to the CMS'|t }}</a>
    </div>
{% endblock %}
