{% import '_includes/builder/classes' as classes %}

<div {{ attr({
    class: [
        classes.maxWidth(block.maximumWidth.value),
        classes.horizontalAlignment(block.horizontalAlignment.value),
    ]|join(' ')
}) }}>
    {% block content %}
        <p>Default Container Content</p>
    {% endblock %}
</div>
