{#
  Content Cards Block
  
  Grid of content cards with optional header text.
#}
{% set textContent = block.textContent.eagerly().all() %}
{% set cards = block.contentCards.eagerly().all() %}

<div class="grid grid-cols-3 gap-6">
    {% if textContent|length %}
        <div class="space-y-6">
            {% include '_builder/builder' with {
                context: 'columns/header',
                blocks: textContent,
            } only %}
        </div>
    {% endif %}

    {% for card in cards %}
        {% set entry = card.entry.eagerly().one() %}
        {% if entry %}
            {% include [
                '_builder/blocks/content-cards/' ~ entry.type|kebab,
                '_builder/blocks/content-card',
            ] with {
                entry: entry,
                context: 'content-cards',
                transformKey: transformKey,
            } only %}
        {% endif %}
    {% endfor %}
</div>
