{% set links = block.links.all() %}

{% if links|length %}
    <ul>
        {% for link in links %}
            {% set hyperlink = link.hyperlink %}
            <li class="inline-block">
                {% include '_components/button' with {
                    theme: link.linkStyle.value ?? 'primary',
                    url: hyperlink.url,
                    text: hyperlink.label,
                    classes: [
                        not loop.last ? 'mr-2' : '',
                    ],
                    attributes: {
                        target: hyperlink.target,
                        rel: hyperlink.rel,
                        'aria-label': hyperlink.ariaLabel,
                    },
                } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
