<div>
    <div class="text-7xl font-bold border-b pb-3 mb-2">{{ block.value }}</div>
    <div class="my-3 text-xl font-bold">{{ block.title }}</div>
    <div>
        {{ block.body }}
    </div>
</div>
