<a href="{{ entry.url }}" class="flex flex-col justify-between h-96 p-12 bg-gray-100">
    <div class="text-sm text-gray-500">
        Create a template in <code class="text-xs">_includes/builder/blocks/cards/{{ entry.type|kebab }}</code> to output this entry.
    </div>
    <div class="mt-24 text-xl font-bold">{{ entry.title }}</div>
</a>
