{% set faqs = [] %}

{% for faq in block.faqs.eagerly().all() %}
    {% if faq.type == 'faqEntry' %}
        {% set faqEntry = faq.faqEntry.eagerly().one() %}
        {% set faqs = faqs|merge([{ question: faqEntry.title, answer: faqEntry.answer }]) %}
    {% else %}
        {% set faqs = faqs|merge([{ question: faq.title, answer: faq.answer }]) %}
    {% endif %}
{% endfor %}

{% set textContentBlocks = block.textContent.eagerly().all() %}

<div class="
    grid grid-cols-1 lg:grid-cols-2
    gap-6 lg:gap-16 xl:gap-20 2xl:gap-32 3xl:gap-48 4xl:gap-60
">
    {% if textContentBlocks|length %}
        <div class="space-y-4 mb-6">
            {% include '_includes/builder/builder' with {
                context: 'faqs',
                blocks: textContentBlocks
            } only %}
        </div>
    {% endif %}

    {% if faqs|length %}
        <div class="divide-y divide-gray-300">
            {% for faq in faqs %}
                <details class="py-4">
                    <summary class="font-bold">{{ faq.question }}</summary>
                    {{ faq.answer }}
                </details>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% set jsonLd = seomatic.jsonLd.create({
    'type': 'FAQPage',
    'mainEntity': faqs|map(faq => {
        'type': 'Question',
        'name': faq.question,
        'acceptedAnswer': {
            'type': 'Answer',
            'text': faq.answer|striptags,
        }
    })
}, true) %}
