{% import '_includes/builder/classes' as classes %}

<section>
    <div class="flex items-center bg-gray-100 py-24">
        <div class="{{ classes.maxWidth('contain') }}">
            <div class="lg:max-w-3xl space-y-6">
                {% include '_includes/builder/builder' with {
                    context: 'hero',
                    blocks: block.textContent.eagerly().all(),
                } only %}
            </div>
        </div>
    </div>
</section>
