{% set links = block.links.all() %}

{% if links|length %}
    <ul>
        {% for link in links %}
            {% set link = link.hyperlink %}
            <li class="inline-block">
                {% include '_includes/components/button' with {
                    url: link.url,
                    text: link.label,
                    classes: [
                        not loop.last ? 'mr-1' : '',
                    ],
                    attributes: {
                        target: link.target,
                    },
                } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
