{% embed '_includes/builder/section' with { block: block } only %}
    {% block content %}
        {% embed '_includes/builder/container' with { block: block } only %}
            {% import '_includes/builder/classes' as classes %}

            {% block content %}
                {% set textRight = block.mediaPosition.value == 'left' %}

                <div class="grid gap-12 lg:grid-cols-2 lg:gap-24 {{ classes.verticalAlignment(block.verticalAlignment.value) }}">
                    <div class="{{ textRight ? 'lg:order-1' : 'lg:order-2' }}">
                        <figure class="aspect-square bg-black rounded-xl"></figure>
                    </div>
                    <div class="{{ textRight ? 'lg:order-2' : 'lg:order-1' }} space-y-4">
                        {% include '_includes/builder/builder' with { blocks: block.textContent.all() } only %}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
